:root.theme-dark {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --nav-color: #ff0070;
  --card-text-color: #f1b2ce;
  --main-title-color: #db00ff;
  --accent-color: #ff0070;
  --accent-bg-color: #ff0070;
  --text-title-color: #000028;
}
