:root.theme-dark {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --nav-color: #ff0070;
  --card-text-color: #F1B2CE;
  --main-title-color: #DB00FF;
  --accent-color: #ff0070;
  --accent-bg-color: #FF0070;
  --text-title-color: #000028;
  --gallery-title-color: #000028;

}

@media (prefers-color-scheme: light) {
  :root.theme-dark .header__rec {
    display: block;
  }
}


