:root.theme-light {
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #fff1f7;
  --nav-color: #353430;
  --card-text-color: #353430;
  --main-title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --accent-bg-color: #ff8dcb;
  --text-title-color: #000028;
  --gallery-title-color: #353430;

  .header__rec {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url('../images/cover-image-light.png');
    --bg-color: #fff1f7;
    --nav-color: #353430;
    --card-text-color: #353430;
    --main-title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --accent-bg-color: #ff8dcb;
    --text-title-color: #000028;
    --gallery-title-color: #353430;
  }

  .header__rec {
    display: none;
  }

  :root.theme-dark .header__rec {
    display: block;
  }
}
