.page {
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: var(--bg-color);
}

.header {
  height: 100vh;          
  min-height: 668px;
  display: grid;
  grid-template-columns: ;
  grid-template-rows: 
}
