.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: center;
  align-items: center;
  height: 100vh;
  min-height: var(--mode-min-height);
  padding: var(--main-padding);
}

.header__theme-menu {
  justify-self: right;
  padding-right: 1px;
  padding-bottom: 2px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 13px;
}

.header__theme-menu-button {
  border: none;
  padding: 3px 12px;
  color: var(--nav-color);
  font-family: var(--main-font), monospace;
  font-weight: var(--font-weight-general);
  font-size: var(--main-text-size);
  line-height: 1;
  text-align: center;
  background-color: transparent;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--nav-color);

}

.header__theme-menu-button:hover {
  outline: 1px solid rgb(from var(--nav-color) r g b / 0.4);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--nav-color);
  pointer-events: none;
}

.header__title {
  color: var(--main-title-color);
  font-family: var(--main-font), monospace;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {

  margin-bottom: 1px;

}

.header__subtitle-text {
  color: var(--text-title-color);
  font-family: var(--main-font), monospace;
  font-weight: var(--font-weight-title);
  line-height: 23.4px;
  font-size: var(--main-text-size);
}

.header__rec {
  position: absolute;
  color: var(--nav-color);
  font-family: var(--main-font), monospace;
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  text-transform: uppercase;
  inset-inline-end: calc(var(--main-gap) + 28px);
  inset-block-start: calc(var(--main-gap) + 2px);
}

.header__rec::after {
  content: '';
  position: absolute;
  margin: -5px -20px 0 0;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--nav-color);
  background-color: var(--nav-color);
  inline-size: 10px;
  block-size: 10px;
  inset-inline-end: 0;
  inset-block-start: 50%;
}
.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
}

.title-decor {
  font-family: var(--main-font);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
  background-color: var(--accent-bg-color);
}

.card__sections-container {
  display: grid;
  gap: 50px;
}

.text__cards-block {
  display: grid;
}

.text__card-title {
  margin-bottom: 10px;
  color: var(--text-title-color);
  font-family: var(--main-font), monospace;
  font-weight: var(--font-weight-title);
  line-height: var(--main-line-height);

}

.text__card {
  color: var(--card-text-color);
}

.text__cards-title {
  margin-bottom: 20px;
  color: var(--nav-color);
  font-family: var(--main-font), monospace;
  font-size: var(--main-text-size);
  font-weight: var(--font-weight-title);
  line-height: var(--main-line-height);

}

.card__text {
  font-family: var(--main-font), monospace;
  font-weight: var(--font-weight-genera);
  font-size: var(--main-text-size);
  line-height: var(--main-line-height);
}

.content {
  display: grid;
  gap: 50px;
  padding: 40px var(--main-padding) 0;
}

.text__cards-container {
  display: grid;
  gap: 20px;
}

.title-alternate {
  font-weight: var(--font-weight-general);
}

.section-title {
  margin-bottom: 20px;
}


.text__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text__link:hover {
  border-bottom: 1px solid var(--card-text-color);
}

.text__link:focus {
  outline: none;
}

.text__link:focus-visible {
  outline: 1px solid var(--card-text-color);
}

.image__gallery-heading {
color: var(--gallery-title-color);
}

.image__gallery {
  display: grid;
  gap: var(--main-gap);
  margin-bottom: 40px;
}


.gallery__image {
  inline-size: 100%;
}

.outro__logo {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
  min-height: var(--mode-min-height);
  padding: var(--main-padding);
}

.footer__text {
  color: var(--main-title-color);
  font-family: var(--main-font), monospace;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  
  :root {
    --main-gap: 20px;
    --main-padding: 20px;
  }

  .header {
    grid-template-columns: 1fr 1fr;
  }

  .header__theme-menu {
    grid-column: 2;

  }

  .header__title {
    grid-column: 1 / span 3;
    grid-row: 2;
    justify-self: start;
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__subtitle {
    grid-column: 2 / span 2;
    grid-row: 3;
  }
  .content {
    padding-top: 60px;
    gap: 80px;
  }

  .dual-layout {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .card__sections-container {
    gap: 80px;
  }

  .reasons__title {
    grid-column: 1;
    
  }

  .reasons__cards {
    grid-column: 2;
  }

  .text__cards-title {
    max-width: 236px;
  }

  .methods__title {
    grid-column: 1;
  }

  .methods__cards {
    grid-column: 2;
  }




  .image__gallery {
grid-template-columns: repeat(3, 1fr);
margin-bottom: 60px;
}

.image__gallery-heading {
grid-column: 1/-1;
}

.gallery__image {
object-fit: cover;
object-position: center;
block-size: 100%;
}

.gallery__image:first-of-type {
grid-column: span 2;

}

.gallery__image:nth-of-type(2) {
grid-row: span 2;
}

.gallery__image:nth-of-type(3) {
grid-row: span 2;
}

.gallery__image:last-of-type {
grid-column: span 2;

}

}

@media (width >= 1024px) {
  .header__theme-menu {
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .text__cards-title {
  max-width: 315px;
  }

  .dual-layout {
    gap: 11px;
  }



  .means__cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .concentration__card {
    grid-column: 1;
  }

  .food__card {
    grid-column: 2;
  }

  .gadgets__card {
    grid-column: 3;
  }
}